// United 5.2.2
// Bootswatch


// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

:root {
  color-scheme: light;
}

// Indicators

.badge {
  &.bg-light {
    color: $body-color;
  }
}


// added lines below for nested dropdown of the maon navbar
.dropdown-menu {
  width:min-content;
  }
.dropdown-menu li {
  position: relative;
  }
  .dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
  }
  .dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
  }


  // added lines below for great looking navbar on any screen
  .navbar-light {
    height:100px;
    }
  @media (max-width: 1250px) {
    .navbar-light {
    height:auto;
    }
  }
  

  .w-60 {
    width:60%;
    margin-bottom:2rem;
  }
  @media (max-width: 1250px) {
    .w-60 {
      width:100%;
    }
  }

  .w-80 {
    width:80%;
    margin-bottom:2rem;
  }
  @media (max-width: 1250px) {
    .w-80 {
      width:100%;
    }
  }

  .text-center {
    text-align:center;
  }

  .admin-menu {
    color:$yellow;
  }

  .admin-menu:hover{
    color:#ef933e;
  }

  .admin-menu-active, .admin-menu-active:hover{
    color:$primary;
  }

  .code {
    border: 2px solid #e9ecef;
    border-radius: 5px;
    margin-bottom: 4rem;
    max-width: 100%;
    overflow-x: hidden;
  }

  .acc-code {
    border: 2px solid #e9ecef;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .acc-header-content {
    display: inline;
    width:95%;
    margin-right:1rem;
  }
  
  .acc-header-text {
    margin-top: 5px;
  }

  .acc-get {
    background-color: rgb(237, 239, 248);
  }
  .acc-post {
    background-color: rgb(241, 254, 254)
  }
  .acc-patch {
    background-color: lightgoldenrodyellow;
  }
  .acc-delete {
    background-color: rgb(251, 239, 242);
  }

  .intro {
    margin-left:1rem
  }