// United 5.2.2
// Bootswatch


// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

:root {
  color-scheme: light;
}

// Indicators

.badge {
  &.bg-light {
    color: $body-color;
  }
}


// added lines below for nested dropdown of the maon navbar
.dropdown-menu {
  width:min-content;
  }
.dropdown-menu li {
  position: relative;
  }
  .dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
  }
  .dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
  }


  // added lines below for great looking navbar on any screen
  .navbar-light {
    height:100px;
    }
  @media (max-width: 1250px) {
    .navbar-light {
    height:auto;
    }
  }
  

  .cart {
    width:60%;
  }
  @media (max-width: 1250px) {
    .cart {
      width:100%;
    }
  }